.joystick-shaft {
    position: absolute;
    top: calc(50% - #{$joystickShaftSize / 2});
    left: calc(50% - #{$joystickShaftSize / 2});
    height: $joystickShaftSize;
    width: $joystickShaftSize;
    border-radius: 100%;
    background: rgba($joystickColour, 0.25);
    box-shadow: 0 0 5px rgba(#000, 0.7) inset;
    transition: background 0.3s;
    will-change: transform;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
