// This is the diameter of the joystick base
$joystickBaseSize: 116px;

// This is the diameter of the joystick shaft
// ~ 55% of the joystick base
$joystickShaftSize: 64px;

// This is the general colour of the joystick
$joystickColour: #08c;
